{% extends "fragments/layout" %}

{% block titulo %}
Hola mundo
{% endblock %}

{% block contenido %}
{% if peliculas is empty %}
<p>No hay películas disponibles</p>
{% else %}

<div class="row">

    {% for pelicula in peliculas %}
    <div class="col-md-4 mb-4 opacity-100">
        <div class="card h-100">
            <div class="card-body peli-contenedor">
                <h5 class="card-title"> {{ pelicula.titulo }} </h5>

                <p class="card-text text-muted fs-6">
                    Género: {{ pelicula.genero }} -- Duración: {{ pelicula.duracion }} min
                </p>
                <p class="card-text">  </p>
                <p class="card-text text-truncate">
                    Sinopsis:
                    <button type="button" class="btn boton-sipno"
                            data-bs-toggle="collapse"
                            data-bs-target="#sinopsis{{ pelicula.id }}">
                        ver más
                    </button>
                <div class="collapse mt-2" id="sinopsis{{ pelicula.id }}">
                    <div class="card-text">
                        {{ pelicula.sinopsis }}
                    </div>
                </div>
                </p>
                <p class="card-text"> Director: {{ pelicula.director }} </p>
                <p class="card-text"> Estreno: {{ pelicula.estreno }} </p>
                <p class="card-text"> Clasificación Edad: {{ pelicula.clasificacionEdad }} </p>
                <p class="card-text"> En cartelera: {{ pelicula.activa }} </p>
                <p class="card-text">
                    Sesiónes:
                    <button type="button" class="btn boton-sesion btn-sm"
                            data-bs-toggle="collapse"
                            data-bs-target="#sesiones{{ pelicula.id }}">
                        ver sesiones disponibles
                    </button>

                <div class="collapse mt-2" id="sesiones{{ pelicula.id }}">
                    <ul class="list-group  list-group-flush">
                        {% for sesion in pelicula.sesiones %}
                        <li class="list-group-item d-flex border-dark justify-content-between align-items-center bg-transparent">
                            <div>
                                <div class="fw-bold">
                                    <i class="bi bi-clock pe-2"> {{ sesion.horario }}</i>
                                    <i class="bi bi-door-open">{{ sesion.sala }}</i>
                                </div>

                                <small class="text-muted">
                                    <i class="bi bi-calendar-event pe-2"> {{ sesion.fecha }}</i>
                                    <i class="bi bi-film"> {{ sesion.tipoProyeccion }}</i>
                                </small>
                            </div>

                            <div class="fw-bold fs-4 text-success">
                                {{ sesion.precio }} <i class="bi bi-ticket-perforated"></i>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}