<footer class="container-fluid mt-0 bg-black text-center py-3">
    <div class="row align-items-center">

        <div class="col-md-6">
            <h2 class="autores mb-3">
                {{ message('footer.autores') }}
            </h2>

            <ul class="list-group-flush p-0 mb-0">
                <li class="list-group-item text-white fs-5 bg-black">
                    Marius Puruguay Lopez
                </li>
                <li class="list-group-item text-white fs-5 bg-black">
                    Patrick Bogdan Firczyk Ruiz
                </li>
                <li class="list-group-item text-white fs-5 bg-black">
                    Daniel Jiménez Rodríguez
                </li>
                <li class="list-group-item text-white fs-6 bg-black">
                    2 DAW
                </li>
            </ul>
        </div>

        <div class="col-md-6 mt-3 mt-md-0">
            <div class="d-flex justify-content-center align-items-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://github.com/danieljimenez45/FFE" target="_blank">
                            <i class="bi bi-github iconos-enlaces"></i>
                        </a>
                    </li>

                    <li class="list-inline-item ms-3">
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="bi bi-instagram iconos-enlaces"></i>
                        </a>
                    </li>

                    <li class="list-inline-item ms-3">
                        <a href="https://x.com/?lang=es" target="_blank">
                            <i class="bi bi-twitter-x iconos-enlaces"></i>
                        </a>
                    </li>

                    <li class="list-inline-item ms-3">
                        <a href="https://www.tiktok.com/es-419/" target="_blank">
                            <i class="bi bi-tiktok iconos-enlaces"></i>
                        </a>
                    </li>

                    <li class="list-inline-item ms-3">
                        <a href="https://www.google.com/maps/" target="_blank">
                            <i class="bi bi-geo-alt-fill iconos-enlaces"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <p class="autores fs-5 mt-3 mb-0">&copy; 2026 {{ message('footer.banner') }}</p>
</footer>