<nav class="navbar navbar-expand-lg shadow navbar-cine">

    <div class="container-fluid d-flex justify-content-between align-items-center px-5">


        <button class="navbar-toggler rayas text-light"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menuLateral">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ENLACES DESKTOP -->
        <ul class="navbar-nav d-none d-lg-flex gap-3">

            <li class="nav-item">
                <a class="nav-link" href="/">
                    {{ message('nav.home') }}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    {{ message('nav.pelicula') }}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/">
                    {{ message('nav.sessions') }}
                </a>
            </li>

        </ul>

        <!-- Rayas navbar -->
        <div class="collapse menu-lateral flex-grow-0 d-lg-none" id="menuLateral">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {{ message('nav.home') }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {{ message('nav.pelicula') }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {{ message('nav.sessions') }}
                    </a>
                </li>

            </ul>

        </div>

        <!-- Titulo  -->
        <div>
            <a class="navbar-brand fw-bold ti-cabecera" href="/">
                FFE CINEMA
                <i class="bi bi-film"></i>
            </a>
        </div>


        <div class="d-flex justify-content-end align-items-center gap-2">
            <!-- Buscador -->
            <form class="d-flex align-items-center gap-2 me-3">
                <label>
                    <i class="bi bi-search iconos"></i>
                </label>

                <input type="search"
                       class="form-control text-center buscador"
                       placeholder="{{ message('nav.search') }}">
            </form>

            <!-- Login -->
            <a href="/login" class="btn boton-sesion">
                {{ message('nav.login') }}
            </a>

            <div class="dropdown">
                <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    <i class="bi bi-globe"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="?lang=es">
                            <img src="https://flagcdn.com/w20/es.png" width="20" alt="ES">
                            Español
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="?lang=en">
                            <img src="https://flagcdn.com/w20/gb.png" width="20" alt="EN">
                            English
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="?lang=fr">
                            <img src="https://flagcdn.com/w20/fr.png" width="20" alt="FR">
                            Français
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="?lang=de">
                            <img src="https://flagcdn.com/w20/de.png" width="20" alt="DE">
                            Deutsch
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="?lang=pt">
                            <img src="https://flagcdn.com/w20/pt.png" width="20" alt="PT">
                            Português
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</nav>